*.rbc
*.zip
*.yaml
*.xlsx
*.exe
build.bat
deploy.bat
circular-mail.gemspec
.idea/*.*
HyperDoc
seneca
.bundle
.config
test.rb
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
swiss-knife
eliquid

# YARD artifacts
.yardoc
_yardoc
doc/
