*.rbc
*.png
*.zip
*.yaml
*.xlsx
build.bat
deploy.bat
circular-mail.gemspec
.idea/*.*
.bundle
.config
test.rb
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
